[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
lxml = "*"
requests = "*"
influxdb = "*"
fastapi = "*"
timeloop = {editable = true,git = "http://github.com/jar349/timeloop.git",ref = "run-on-start"}

[requires]
python_version = "3.6"
